---
import AboutLayerLayering from "@/components/AboutLayerLayering.astro";
import SectionHeader from "@/components/SectionHeader.astro";

import SectionGlowDivider from "@/components/SectionGlowDivider.astro";
import Timeline from "@/components/Timeline.astro";
import Us from "@/components/Us.astro";
import Reviews from "@/components/Reviews.astro";
---

<section
  id="nosotros"
  class="relative w-full bg-primary py-24 sm:py-32 overflow-hidden"
>
  <AboutLayerLayering />

  <SectionGlowDivider />

  <div class="relative z-10 mb-20">
    <SectionHeader
      titleId="presentacion-title"
      title="FABIO VIOLA AUTOMOTORES"
      subtitle="DESDE 2001"
    />
    <Timeline />
    <Us />
    <Reviews />
  </div>
</section>
