---
import StockBridge from "@/components/StockBridge.astro";
import SectionHeader from "@/components/SectionHeader.astro";
import SectionGlowDivider from "@/components/SectionGlowDivider.astro";
---

<section
  class="relative w-full overflow-hidden px-4 pt-20 pb-0 sm:px-6 lg:pt-28 lg:pb-0"
  aria-labelledby="inventory-title"
>
  <SectionGlowDivider />
  <div class="relative mx-auto flex max-w-6xl flex-col items-center">
    <SectionHeader
      hideDivider={true}
      titleId="inventory-title"
      title="SHOWROOM ONLINE"
      subtitle="Seleccioná uno de nuestros canales oficiales para ver las unidades en venta disponibles."
    />
  </div>
  <StockBridge />
</section>
