---
import { ClientRouter } from "astro:transitions";
import "@/styles/global.css";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <link
      rel="preload"
      href="/fonts/Microgramma-Bold-Extended.otf"
      as="font"
      type="font/otf"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="image"
      href="/public/hero_background.webp"
      type="image/webp"
      fetchpriority="high"
    />
    <ClientRouter />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
